.left-content
  .left-content__top
    %p.left-content__top__user-name user_name
    %i.fa.fa-pencil-square-o.left-content__top__icon-pen
    %i.fa.fa-cog.left-content__top__icon-cog
  .left-content__buttom
    .group
      %p.group__group-name group_name
      %p.group__new-message new_message
.right-content
  .right-content-header
    %p.right-content-header__name group_name
    %p.right-content-header__members members
    %a.right-content-header__edit-button
  .right-content__main
    .message
      %p.message__user-name user-name
      %p.message__time day_time
      %p.message__text text
  .right-content__send-space
