-if notice
  .notice-space
    %p.notice-space__text
      = notice

-if alert
  .alert-space
    %p.alert-space__text
      = alert

.left-content
  .left-content__top
    %p.left-content__top__user-name
      = current_user.name
    =link_to new_group_path, {class: "left-content__top__icon-pen"} do
      %i.fa.fa-pencil-square-o.left-content__top__icon-pen__i
    =link_to edit_user_path(current_user), {class: "left-content__top__icon-cog"} do
      %i.fa.fa-cog.left-content__top__icon-cog__i
  .left-content__buttom
    - @groups.each do |gr|
      .group
        %p.group__group-name
          = gr.name
        %p.group__new-message メッセージはありません
.right-content
  .right-content-header
    %a.right-content-header__edit-button Edit
    %p.right-content-header__name group_name
    %p.right-content-header__members members
  .right-content__main
    .message
      %p.message__user-name user-name
      %p.message__time day_time
      %p.message__text text
  .right-content-send-space
    %form.ms-form
      %input.ms-form__textarea{type: "text",placeholder: "type a message" }
      %label.file
        %i.file__icon.fa.fa-picture-o
        %input.file__image{type: "file"}
        %button.ms-form__submit{} Send

